/*cart*/
.table > tbody > tr > td.cart_price {
  padding-top: 14px;
}

.table > tbody > tr > td.cart_total {
  padding-top: 14px;
}

.cart-qty input {
  width: 55px;
}

input#coupon {
  width: auto;
}

.table > tbody > tr > td.cart_remove {
  padding-top: 13px;
}
